body {
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.about {
  background-color: green;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styled label */
label {
  font-family: Impact, 'Arial Narrow Bold', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

/* styled nav ul typography */
nav ul {
  font-size: 20px;
}

/* styled nav buttons typography */
nav a {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}