body {
   margin: auto;

   overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: 'Homenajae', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  text-align: center;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;

  padding: 1rem;

  margin: auto;
}

/* our-story container */
.our-story {
  width: 100%;
  
  padding: 1rem;

  float: left;
}

/* process container */
.process {
  width: 100%;

  padding: 1rem;
}


.about {
  background-color: #e95861;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.7rem;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.7rem;
  
  margin: auto;
}

/* styled label */
label {
  font-family: Impact, 'Arial Narrow Bold', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;

  color: white;
}

/* styled nav ul typography */
nav ul {
  font-size: 20px;
}

/* styled nav buttons typography */
nav a {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

@media (width > 50rem) {
.our-story {
  width: 50%;
 }

 h1 {
  font-size: 100px;
 }
}