/* styled body */
body {
   margin: auto;
}

/* styled h1 */
h1 {
  text-align: center;
  font-size: 50px;

  margin-top: 10px;
}

/* styled h2 */
h2 {
  font-family: 'Homenajae', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  text-align: center;
}

/* styled p */
p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;

  padding: 1rem;

  margin: auto;

  width: 50%;
}

/* styled nav ul typography */
nav ul {
  font-size: 20px;
}


/* our-story & process container */
.our-story, .process { 
  padding: 1rem;

  margin-top: -50px;
}

/* color for on current about page */
.about {
  background-color: #e95861;
}

/* section for video */
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

/* styled actual video */
.video {
  width: 100vw;
  height: 40vh;
  
  margin: auto;

  border: 10px solid rgba(158, 35, 35, 0.623);
  border-radius: 10px;
}

/* made footer paragraph move to the right */
.copy-right {
  width: 97vw;
}


/* mobile friendly */
@media (width > 50rem) {
 h1 {
  font-size: 100px;
 }

 .video {
  width:  50%;
  height: 60vh;
 }
}