/* styled h1 */
h1 {
  font-family: 'Noto Sans JP', sans-serif;
}

/* styled label */
label {
  font-family: 'Noto Sans JP', sans-serif;
}

/* styled nav a */
nav a {
  font-family: 'Noto Sans JP', sans-serif;
}

/* styled footer p */
footer p {
  font-family: 'Noto Sans JP', sans-serif;
}