/* styled footer */
footer {
  padding: auto;

  margin: auto;

  /* background-color: #646366; */

  height: 25px;

  min-height: 100%;

  margin-bottom: -40px;
}

/* styled footer p */
footer p {
  text-align: center;

  font-size: 15px;

  padding: auto;

  /* background-color: #646366; */
  min-height: 100%;

  margin-bottom: 60px;
}

