/* styled footer */
footer {
  padding: auto;

  margin: auto;

  /* background-color: #646366; */

  height: 25px;

  min-height: 100%;

  margin-bottom: -40px;
}

/* styled footer p */
footer p {
  text-align: center;

  font-size: 15px;

  padding: auto;

  /* background-color: #646366; */
  min-height: 100%;

  margin-bottom: 60px;
}

.primary-nav {
  display: block;
  
  margin-bottom: -50px;

  line-height: 1.5;
  
  font-size: 10px;
  
  letter-spacing: 1px;
  
  font-weight: 600;
}

.primary-nav ul {
  list-style: none;
}