/* styled footer */
footer {
  padding: auto;

  margin: 0;

  background-color: darkgray;

  height: auto;
}

/* styled footer p */
footer p {
  display: flex;
  justify-content: flex-end;
  text-align: center;

  font-size: 15px;

  padding: auto;
  padding-right: 25px;

  background-color: darkgray;

  height: 45px;

  margin-top: -70px;
}

/* styled .primary-nav */
.primary-nav {
  background-color: darkgray;

  display: block;
  
  margin-bottom: -60px;
  margin-top: -15px;

  line-height: 1.5;
  
  font-family: 'Noto Sans JP', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}

/* styled ul of primary-nav */
.primary-nav ul {
  list-style: none;
}


