/* styled everything within the page */
* {
  box-sizing: border-box;

  margin: 0;
}

/*styled body*/
body {
  line-height: 1.5;
}

/* styled section */
section {
  padding: 1rem;
  gap: 1rem;
}

/* styled h1 */
h1 {
  text-align: center;
}

/* styled article */
article {
  width: 91vw;
  height: 70vh;
  
  margin: auto;
  margin-bottom: 1rem;
  
  border: 3px solid black;
  border-radius: 5%;
  
  padding: 1rem;
  
  text-align: center;
}

/* styled article h2, h3, p */
article h2, h3, p{
  margin: auto;
 
  text-align: center;

  min-width: 5ch;

  overflow: hidden;

  margin-bottom: 7px;
}

/* styled article images */
article img {
  display: block;
  
  aspect-ratio: 0.5;
  object-fit: cover;

  border: solid;
  border-radius: 10%;
}

/* styled h2 typography */
article h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
}

/* styled h3 typography */
article h3 {
  font-family: 'Homenaje', sans-serif;
  font-size: 20px;

  line-height: 1.3;

  color: black;
}

/* styled article p typography */
article p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

/* styled nav ul typography */
nav ul {
  font-size: 20px;
}
/* hover for cards */
.card-color:hover {
  color: #52402d;
  filter: drop-shadow(2px 2px 2px #3c464e);
}

/* active link color for cards */
.card-color:active {
  color: #fbdd64;
}

/* made gallery class to highlight current page*/
.gallery {
  background-color: #e95861;
}

/* re-sized images */
.gyuto, .santoku, .nakiri, .bunka, .petty, .usuba, .deba, .yanagiba, .garasuki, .sujihiki, .kiritsuke, .burja {
  width: 90%;
  height: 70%;

  margin: auto;

  display: block;
}

/* to make it mobile friendly */
@media (width > 50rem) { 
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .gyuto, .santoku, .nakiri, .bunka, .petty, .usuba, .deba, .yanagiba, .garasuki, .sujihiki, .kiritsuke, .burja {
    height: 70%;
    width: 100%;
  }

  article {
    width: 30vw;
    height: 65vh;
  }
}

/* to make it mobile friendly */
@media (width > 50rem) { 
  h1 {
    font-size: 100px;   
  }

  article h3 {
    font-size: 22px;
  }
}
  
 

