/* styling body */
body {
  margin: auto;

  line-height: 1.5;
}

/* hero-section background image*/
header {
  background: url("../images/hero-section-background-image.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;  
}

/* styled main */
main {
  text-align: center;

  border: solid;
  border-width: 50px;
}

/* styled main h3 */
main h3 {
  color: black;
}

/* styled main p */
main p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* styled h1 */
h1 {
  padding: 10px;
  margin: 0;

  text-align: center;

  max-width: 85ch;

  font-size: 50px;

  color: white;
  
  margin-top: 120px;
  
  filter: drop-shadow(5px 10px 15px white);
}

/* styled h3 */
h3 {
  margin: 0;

  text-align: center;

  font-family: 'Homenaje', sans-serif;
  font-size: 25px;

  color: whitesmoke;
}

/* styled label */
label {
  font-size: 20px;
}

/* styled nav ul typography */
nav ul {
  font-size: 20px;
}

/* styled single card */
.buy-card {
  max-width: 40ch;
  padding: 10px;
  margin: auto;
  margin-top: 30px;

  color: black;
}

/* styled call-to-action */
.cta {
  padding: 15px 30px 15px 30px;
  
  margin: auto;
  margin-top: 5px;
  
  width: 10vw;
  height: 4vh;

  font-family: 'Noto Sans JP','Homenaje', sans-serif;
  font-size: 25px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border-style: solid;
  border-color: #e9dfad;

  background-color: #e9dfad;
}

/* colored shop now*/
.cta:active {
  color: orangered;
}

/* made hover for call-to-action */
.cta:hover {
  filter: drop-shadow(5px 5px 5px gold);
  
  background-color: #d7c6ab;
}

/* made background-color for currently being on home page */
.home {
  background-color: #e95861;
}

/* to make it mobile friendly */
@media (width > 40rem) { 
  h1 {
    font-size: 100px;   
  }

  h3 {
    font-size: 40px;
  }
}
  
 
