/* styled logo */
.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;

  display: inline-block;

  padding: 1rem;
}

/*styling nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: auto;

  padding-right: 15px;
}

/* styling navbar*/
 nav ul {
  padding: 1rem;
 
  list-style: none;

  display: none;
  
  gap: 1rem;

  margin: 0;
 }

 /* deleted underline of primary nav buttons */
a {
  text-decoration: none;
}

/* primary nav hover */
nav a:hover {
  background-color: darkgoldenrod;
}

/* primary nav active */
nav a:active {
  background-color: darkorange;
}

/* for label */
input {
  display: none;
}

/* ensures no checkboxes */
input:checked + ul {
  display: block;
}

/* primary nav buttons */
nav a {
  color: white;

  display: block;
 
  text-align: center;
 
  padding: 0.5rem;

  border: 1px solid;
}

/* styled social navbar */
.social-nav {
  background-color: darkgray;

  margin: auto;

  display: flex;
  justify-content: flex-end;

  height: 15px;

  margin-top: -60px;
}

/* styled social nav ul */
.social-nav ul {
  list-style: none;

  display: flex;
  justify-content: flex-start;

  gap: 1rem;

  height: 15px;
}

/* added color to social nav icons */
.social-nav a {
  color: black;
}

/* made hover for social navbar */
.social-nav li:hover {
  transform: scale(1.5);
}


/* used different color for nav */
@media (color) {
  nav {
    background-color: #1f1f20;
  } 
  nav ul {
    background-color: #1f1f20;
  }
}

/* to make it mobile friendly */
@media (min-width: 50rem) {
  nav ul {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
  }
}

/*needed to make side navbar for mobile */
@media screen and (width > 40em) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  label {
    display: none;
  }
  
  input:checked + ul {
    display: none;
  }
}