/* LAYOUT.CSS */
/* styling body */
body {
  font-size: 30px;

  margin: auto;

  line-height: 1.5;

  overflow-x: hidden;
}

/* styling title */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../images/hero-section-background-image.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* width: 100vw; */
  height: 100vh;  
}

/* styled main */
main {
  text-align: center;
}

/* styled h1 */
h1 {
  padding: 10px;
  margin: 0;

  text-align: center;

  max-width: 85ch;
}

/* styled h2 */
h3{
  margin: 0;

  text-align: center;
}

/* styled single card */
.buy-card {
  max-width: 40ch;
  padding: 10px;
  margin: auto;
  margin-top: 30px;

  color: black;
}

/* styled label */
label {
  color: white;

  padding: 1rem;
}

/* styled logo */
.logo {
  width: auto;
  height: 5vh;

  /* display: block; */
  display: flex;
  justify-content: center;
  float: center;

  padding: 1rem;

  align-items: center;

  color: white;
}

/* styled button */
button {
  padding: 15px 30px 15px 30px;
  margin: auto;
  margin-top: 30px;
  width: auto;

  display: flex;
  align-items: center;

  border-radius: 10px;
  border-style: solid;
  border-color: #e9dfad;

  background-color: #e9dfad;
}

/* colored sign up */
button:active {
  color: orangered;
}

/* styled button */
button:hover {
  filter: drop-shadow(5px 5px 5px gold);
  
  background-color: #d7c6ab;
}

/* deleted underline */
a {
  text-decoration: none;
}

/* styled footer */
footer {
  padding: auto;

  margin: auto;

  /* background-color: #646366; */

  height: 25px;

  min-height: 100%;

  margin-bottom: -40px;
}

/* styled footer p */
footer p {
  text-align: left;
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;

  padding: auto;

  /* background-color: #646366; */
  min-height: 100%;

  margin-bottom: -20px;
}

.follow {
  display: flex;
  justify-content: flex-end;

  align-items: center;
}


/* NAVIGATION.CSS */
/*styling nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* background-color: black; */

  max-width: auto;

  padding-right: 15px;
}

/* styling navbar*/
 nav ul {
  padding: 1rem;
 
  list-style: none;

  display: none;
  
  gap: 1rem;

  margin: 0;
 }

/* nav hover */
nav a:hover {
  color: yellowgreen;
}

/* for label */
input {
  display: none;
}

/* ensures no checkboxes */
input:checked + ul {
  display: block;
}

/* nav buttons */
nav a {
  color: white;
}

/* styled social navbar */
.social-nav {
  margin: auto;

  display: flex;
  justify-content: flex-end;

  height: 15px;

  margin-top: -40px;
}

/* styled social nav ul */
.social-nav ul {
  list-style: none;

  display: flex;
  justify-content: flex-start;

  gap: 1rem;

  height: 15px;
}

/* added color to social nav icons */
.social-nav a {
  color: black;
}

/* made hover for social navbar */
.social-nav li:hover {
  transform: scale(1.5);
}


/* used different color for nav */
@media (color) {
  nav {
    background-color: #1f1f20;
  } 
  nav ul {
    background-color: #1f1f20;
  }
}

/* to make it mobile friendly */
@media (min-width: 50rem) {
  nav ul {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
  }
}

/*needed to make side navbar for mobile */
@media screen and (width > 50rem) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  label {
    display: none;
  }

  input:checked + ul {
    display: none;
  }
}

/* TYPOGRAPHY.CSS */

/* styling h1 typography */
h1 {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;

  color: whitesmoke;
  
  margin-top: 170px;
}

/* styled h3 typography */
h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;

  color: whitesmoke;
}

/* styled button typography */
button {
  font-size: 20px;
}

/* styled label */
label {
  font-family: Impact, 'Arial Narrow Bold', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

/* styled nav ul typography */
nav ul {
  font-size: 20px;
}

/* styled nav buttons typography */
nav a {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

/* to make it mobile friendly */
@media (width > 40rem) { 
  h1 {
    font-size: 100px;   
  }

  h3 {
    font-size: 30px;
  }
}
  
 
