/* MAIN.CSS */
/* Grid code */
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* THEME.CSS */
* {
  box-sizing: border-box;

  outline: 1px solid red;
}


body {
  background-color: #858585;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}


h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  text-align: center;
}

article {
  width: 30%;
  height: 55%;

  margin: auto;

  background-color: burlywood;
  
  border: 1px solid black;

  padding: 1rem;
}


article h2, h3, p{
  margin: auto;
 
  text-align: center;

  font-size: 20px;
}

article h3 {
  font-size: medium;
}


article img {
  display: block;
  
  width: 60%;
  height: 60%;

  aspect-ratio: 0.5;
  object-fit: cover;

  border: solid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* re-sized gyuto image */
.gyuto {
  /* width: 10rem; */
  /* height: 15vh; */

  width: 50%;
  height: 75%;
}

/* re-sized santoku image */
.santoku {
  width: 10rem;
  height: 15vh;
}

/* re-sized nakiri image */
.nakiri{
  width: 10rem;
  height: 15vh;
}

/* to make it mobile friendly */
@media (width > 50rem) { 
  article {
    width: 50%;
    height: 75%;
  }

  .gyuto {
    /* width: 17rem; */
    /* height: 25vh; */
    width: 100%;
    height: 50%;
  }

  .santoku {
    /* width: 17rem; */
    /* height: 25vh; */
    width: 100%;
    height: 50%;
    
  }
  
  .nakiri{
    /* width: 17rem;
    height: 25vh;   */
    width: 100%;
    height: 50%;
  }
}

/* NAVIGATION.CSS */
/*styling nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: auto;

  padding-right: 15px;
}

/* styling navbar*/
 nav ul {
  padding: 1rem;
 
  list-style: none;

  display: none;
  
  gap: 1rem;

  margin: 0;
 }

/* nav hover */
nav a:hover {
  color: yellowgreen;
}

/* for label */
input {
  display: none;
}

/* ensures no checkboxes */
input:checked + ul {
  display: block;
}

/* nav buttons */
nav a {
  color: white;
}

/* styled social navbar */
.social-nav {
  margin: auto;

  display: flex;
  justify-content: flex-end;

  height: 15px;

  margin-top: -40px;
}

/* styled social nav ul */
.social-nav ul {
  list-style: none;

  display: flex;
  justify-content: flex-start;

  gap: 1rem;

  height: 15px;
}

/* added color to social nav icons */
.social-nav a {
  color: black;
}

/* made hover for social navbar */
.social-nav li:hover {
  transform: scale(1.5);
}


/* used different color for nav */
@media (color) {
  nav {
    background-color: #1f1f20;
  } 
  nav ul {
    background-color: #1f1f20;
  }
}

/* to make it mobile friendly */
@media (min-width: 50rem) {
  nav ul {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
  }
}

/*needed to make side navbar for mobile */
@media screen and (width > 50rem) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  label {
    display: none;
  }

  input:checked + ul {
    display: none;
  }
}
